<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .screen_name }}'s broadcast - Private Broadcaster</title>
	<head>
		<script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
	</head>
</head>
<body>
	<section>
		<h2>{{ .screen_name }}'s broadcast</h2>
		<section>
			<video id="video"></video>
		</section>
	</section>
</body>
<script>
	if(Hls.isSupported()) {
		var video = document.getElementById('video');
		var hls = new Hls();
		hls.loadSource('/video/{{ .screen_name }}');
		hls.attachMedia(video);
		hls.on(Hls.Events.MANIFEST_PARSED,function() {
			video.play();
		});
	}
</script>
</html>
